body {background-color: rgb(79, 79, 79);
}
.center-header {
    text-align: center;
   }
   
   .parent-container {
    text-align: justify;
}

.parent-container p {
    display: inline-block;
    margin-left: 140px;
}



   .picture6 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 100px;
   }
   
   .picture7 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 240px;
   }

   .picture8 {
    width: 200px;
    height: 200px;
    position: relative;
    top:10px;
    left: 380px;
   }

   .picture9 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 520px;
   }
body 
   .audio-groups-container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding: 20px;
   }

   .audio-group {
    display: inline-block;
    vertical-align: top;
   }
   
   
   .audio-container {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
    left: 200px;
    
   }

   audio {
    background-color: hsl(278, 60%, 50%);
   }
   
   
   