body {background-color: rgb(21, 21, 21);
}
.center-header {
    text-align: center;
   }
   
   h1 {
    color: hsl(278, 72%, 37%);
   }
   
   /* Hyperlink styling */
a {
    color: hsl(278, 60%, 50%); /* Link color */
    text-decoration: none; / 
   }
   
   /* Change color on hover */
   a:hover {
    color: #ffdd00; /* Link color when hovered */
   }
   
   /* Active link styling */
   a:active {
    color: #ff0000; /* Link color when clicked */
   }
   
   /* Visited link styling */
   a:visited {
    color: #3b0075; /* Link color when visited */
   }
   /* Set position to relative for the container */
.link-container {
    position: relative;
   }
   
   /* Customize the position of each hyperlink */
   .link-container a:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 50px;
   }
   
   .link-container a:nth-child(2) {
    position: absolute;
    top: 110px;
    left: 160px;
   }
   
   .link-container a:nth-child(3) {
    position: absolute;
    top: 210px;
    left: 50px;
   }

   .link-container a:nth-child(4) {
    position: absolute;
    top: 310px;
    left: 160px;
   }

   

   /* Change the font size and style of the hyperlink text */
.link-container a {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
   }